{% extends "layout.html" %}


{% block body %}

<h2>Dashboard</h2>


<script type="text/javascript">
        /// TODO
        $(function() {
        $('#add-project').bind('click', function() {
            project_name  = $("#project-name").val();
        $.ajax({
            type : "POST",
            url : "/add-project",
            data: JSON.stringify(project_name, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                window.location.href = "/";
            }
        });


    });
  });

    </script>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">პროექტის დასახელება</h4>
      </div>
      <div class="modal-body">

     <form class="form-signin" role="form" method="post">
        <input type="text" id="project-name" class="form-control" placeholder="პროექტი" required autofocus>
     </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">დახურვა</button>
        <button type="button" id="add-project" class="btn btn-primary">დამატებაა</button>
      </div>



    </div>
  </div>
</div>

{% endblock %}
