{% extends "project.html" %}

{% block project_blocks %}

    <div>
          <form class="form-signin" role="form" method="post">
           <fieldset>
               <legend> მომხმარებლის დამატება</legend>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="მომხმარებელი" autofocus>
                </div>
           </fieldset>

          </form>

    </div>


{% endblock %}





